// greytones dark (0) -> light (9)
$neutral0: #1f2335;
$neutral1: #24283b;
$neutral2: #292e42;
$neutral3: #3b4261;
$neutral4: #414868;
$neutral5: #545c7e;
$neutral6: #565f89;
$neutral7: #737aa2;
$neutral8: #a9b1d6;
$neutral9: #c0caf5;

// blues dark (0) -> light (4)
$blue0: #394b70;
$blue1: #3d59a1;
$blue2: #7aa2f7;
$blue3: #7dcfff;
$blue4: #b4f9f8;

// accent colors
$purple-light: #bb9af7;
$purple-dark: #9d7cd8;
$orange-light: #ffc777;
$orange-dark: #ff9e64;
$green-light: #4fd6be;
$green-dark: #41a6b5;
$red-light: #ff757f;
$red-dark: #c53b53;
$lime: #c3e88d;
$magenta: #ff007c;

html,
body {
  // height: 100%;
  margin: 0;
}

body {
  background: #{$neutral0};
}

main {
  color: #{$neutral9};
}

// fx
.inside-part {
  box-shadow: #{$neutral1} 0px 30px 60px -12px inset, #{$neutral0} 0px 18px 36px -18px inset;
}

// components
.foreground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.bg-blurry-1 {
  width: 30vmax;
  height: 40vmax;
  background: #{$purple-dark};
  position: fixed;
  left: 70%;
  top: 10%;
  border-radius: 30vmax;
  filter: blur(100vmax);
  scale: 2;
  opacity: .3;
  mix-blend-mode: color-dodge;
  rotate: 30deg;
  animation: slowspin 35s infinite ease-in-out;  
}

.bg-blurry-2 {
  width: 50vmax;
  height: 20vmax;
  background: #{$blue1};
  position: fixed;
  left: -10%;
  top: -10%;
  border-radius: 20vmax;
  filter: blur(100vmax);
  scale: 2;
  opacity: 0.4;
  mix-blend-mode: color-dodge;
  rotate: 20deg;
  animation: slowspin 25s infinite ease-in-out reverse;  
}

@keyframes slowspin {
  50% {transform: rotate(90deg);}
}

.nav_element {
  width: 6rem;
  position: fixed;
  right: -5rem;
  background: #{$neutral5}15;
  backdrop-filter: blur(1rem);
  border-radius: 2.5rem 0 0 2.5rem;
  top: 10%;
  height: fit-content;
  display: flex;
  transition: ease-in-out .5s;
  flex-direction: column;
  align-items: center;
}

.nav_element:hover {
  right: -1rem;
}

.nav_btn_container {
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  // background: blue;
}
